body {
  margin: 0;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

.canvas-holder canvas {
  padding: 0;
  margin: auto;
  display: block;
  height: 100vh;
  width: auto;
  max-width: 100%;
  background-color: black;
}

.game-hud {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -5px);
  z-index: 1;

  background-color: rgba(255,255,255,0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  border: 1px solid white;
  border-radius: 5px;
}

.game-hud p {
  margin: 0;
  padding: 0;
  font-size: 3vh;
  text-align: center;
}

.menu {
  text-align:center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position:absolute;

  background-color: rgba(255,255,255,0.75);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px;
  min-width: 400px;
}

.menu-button {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #d0d0d0;
}